<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- button (X) -->
    <div id="app">
        <div class="content" v-for="item in komen">
            <br>
            <button @click="hitung()"> + </button>
            <p>{{`${item.isi} || ${item.tanggal} || Score : ${item.skor}`}}</p>
            <button @click="hitung1()"> - </button>
        </div>
        <br>
        <textarea name="" id="" cols="50" rows="10" v-model="komenbaru" @keyup.enter="addKomen" placeholder="Isi komentar"></textarea>
        <br>{{komenbaru}}

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <script> 

    var app = new Vue({
        el: '#app',
        data: {
            komenbaru: '',
            komen: [{isi:'komen 1',tanggal:'05-05-2021',skor:0},{isi:'komen 2',tanggal:'06-05-2021',skor:5},{isi:'komen 3',tanggal:'07-05-2021',skor:5}]
        },
        methods: {
            hitung: function(){
                this.skor + 1  
            },
            hitung1: function(){
                this.skor - 1
            },
            addKomen: function(){
                this.komen.push({isi:this.komenbaru, tanggal:'08-05-2021', skor:0});
                this.komenbaru = '';
            }
        }
        
    })
    </script>
</body>
</html>