<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <form>
            <input type="text" v-model="inputan" placeholder="ketikkan kata kunci">
        </form>
        <!-- logika saya:
        inputan dicompare books dengan huruf kapital/kecil/keduanya
        -->
        <ul>
            <li v-for="item in books" v-if="item.includes(inputan) || item.toLowerCase().includes(inputan) || item.toUpperCase().includes(inputan)">
                {{item}}
            </li>
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <script> 

    var app = new Vue({
        el: '#app',
        data: {
            inputan : '',
            books : ['Kalkulus Dasar','Fisika Dasar','Aljabar Linear Elementer','Aljabar Abstrak','Algoritma Pemrograman']
        }
        
    })
    </script>


    

</body>
</html>