<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <button onclick="vm.openForm()">Open Form</button>
        <h1>{{`nilai a: ${a}`}}</h1>
        <h1>{{'nilai rata: ' + rrt}}</h1>
      </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <script>
        var vm = new Vue({
            el: '#app',
            data: {
               a : 0,
               b : 0,
               flag : 0,
               rrt : 0
            },
            
            methods: {
               openForm : function(){
                this.a = 0; // reset tiap kali open form
                while(this.a < 10){ // ngulang input sampe a >= 10
                    this.flag+=1
                    this.a += Number(prompt('masukan nilai a'))
                }
                   this.rrt = this.a/this.flag
               }
            }
        })
    </script>
    
</body>
</html>