<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
      label{
          display: block;
          margin-top: 5px;
      }
      form{
          border: 1px solid plum;
          padding: 5px;
          width: 255px;
          background: powderblue;
      }
  </style>
</head>
<body>
  <div id="app">
      <form @submit.prevent="submitForm($event)">
          <p v-if="errors.length">
            <b>Please correct the following errors</b>
            <ul>
                <li v-for="item in errors">{{item}}</li>
            </ul>
          </p>

          <label>Name : {{name}} </label>
          <input type="text" name="name" ref="name" v-model="name" v-bind:disabled="buttonStatus=='upload'">
          <label>Address : {{address}} </label>
          <textarea v-model="address" ref="address" v-model="address" v-bind:disabled="buttonStatus=='upload'"></textarea>
          <label>No Hp : {{no_hp}} </label>
          <input type="text" name="no_hp" ref="no_hp" v-model="no_hp" v-bind:disabled="buttonStatus=='upload'">

          <br>
          <!-- button -->
          <div v-if="buttonStatus=='submit'">
                <input type="submit" value="SUBMIT">
          </div>
          <div v-if="buttonStatus=='edit'">
                <input type="button" value="UPDATE" @click="updateMember(idEdit)"> 
                <input type="button" value="CANCEL" @click="clearForm()">   
          </div>
          <div v-if="buttonStatus=='upload'">
              
            <input type="file" name="photo" ref="photo" style="margin: 10px;">
            
            <input type="button" value="UPLOAD" @click="submitPhoto(idUpload)">
            <input type="button" value="CANCEL" @click="clearForm()">
        </div>

      </form>

      <br><br>

      <member-component v-for="item in members" :member="item" @flagedit="editMember($event)" @flagdel="removeMember($event)" 
      @flagup="uploadPhoto($event)"></member-component>

  </div>

  <template id="idmc">
      <div>
        <table border=1 width="500px">
            <tr>
                <td>
                    <img width=100 :src="member.photo_profile ? photoDomain + member.photo_profile : 'https://dummyimage.com/16:9x1080' " alt="">
                </td>
                <td>
                    <b>Name :</b> {{member.name}} <br>
                    <b>Address : </b> {{member.address}} <br>
                    <b>No Hp: </b> {{member.no_hp}} <br>
                </td>
                <td>
                    <button @click="$emit('flagedit',member)">Edit</button>
                    <button @click="$emit('flagdel',member.id)">Hapus</button>
                    <button @click="$emit('flagup',member)">Upload Foto</button>
                </td>
            </tr>
          </table>
      </div>
  </template>
  
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  <script>

   var memberComponent = {
       template : '#idmc',
       data(){
        return{
        }
       },
       methods:{
       },
       props : ['member']
   }   

   var vm = new Vue({
      el: '#app',
      components : {
        'member-component' : memberComponent
      },
      data: {
        name : '',
        address : '',
        no_hp : '',
        errors : [],
        members : [],
        buttonStatus : 'submit',
        idUpload: null,
        idEdit: null,
        photoDomain : 'http://demo-api-vue.sanbercloud.com'
      },
      methods: {
        submitForm : function(event){
            this.errors = []

            if(this.name.length==0){
                this.errors.push('Nama tidak boleh kosong!')
                // this.$refs.title.focus()
            }
            if(this.address.length>50){
                this.errors.push('alamat tidak boleh lebih dari 50 karakter')
                // this.$refs.description.focus()
            }
            if(this.errors.length === 0){
                //POST MEMBER (3)
                let formData = new FormData()
                formData.append('name',this.name)
                formData.append('address',this.address)
                formData.append('no_hp',this.no_hp)

                const config = {
                    method : "post",
                    url : "http://demo-api-vue.sanbercloud.com/api/member",
                    data : formData
                }

                axios(config)
                    .then( (response) => {
                        this.clearForm()
                        this.getMembers()
                        alert(response.data.message)
                    })
                    .catch( (error) => {
                        console.log(error)
                    })
            }
        },

        //GET MEMBER (2)
        getMembers : function() {

            const config = {
                method : "get",
                url : "http://demo-api-vue.sanbercloud.com/api/member"
            }

            axios(config)
            .then( (response) => {
                console.log(response.data)
                this.members = response.data.members
            })
            .catch( (error) => {
                console.log(error)
            })
        },

        //DELETE MEMBER (4)
        removeMember : function(id){
                const config = {
                    method : "post",
                    url : `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                    params : {_method : "DELETE"}
                }
                axios(config)
                .then( (response) => {
                    this.getMembers()
                    alert(response.data.message)
                })
                .catch( (error) => {
                    console.log(error)
                })
            console.log(id)
        },

        //EDIT MEMBER(5)
         editMember : function(member){
            this.buttonStatus = 'edit'
            this.name = member.name
            this.address = member.address
            this.no_hp = member.no_hp
            this.idEdit = member.id
        },

        //UPLOAD PHOTO (7)
        uploadPhoto : function(member){
            this.buttonStatus = 'upload'
            this.name = member.name
            this.address = member.address
            this.no_hp = member.no_hp
            this.idUpload = member.id
        },

        //UPDATE MEMBER(6)
        updateMember : function (id){
            this.errors = []

            if(this.name.length==0){
                this.errors.push('Nama tidak boleh kosong!')
                // this.$refs.title.focus()
            }
            if(this.address.length>50){
                this.errors.push('alamat tidak boleh lebih dari 50 karakter')
                // this.$refs.description.focus()
            }
            if(this.errors.length === 0){
                //UPDATE MEMBER (6)
                let formData = new FormData()
                formData.append('name',this.name)
                formData.append('address',this.address)
                formData.append('no_hp',this.no_hp)

                const config = {
                    method : "post",
                    url : `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                    params : {_method : "PUT"},
                    data : formData
                }

                axios(config)
                    .then( (response) => {
                        this.clearForm()
                        this.getMembers()

                        alert(response.data.message)
                    })
                    .catch( (error) => {
                        console.log(error)
                    })
            }

        },


        //SUBMIT PHOTO (8)
        submitPhoto : function (id){
            let file = this.$refs.photo.files[0]

            console.log(file)

            let formData = new FormData()
            formData.append = ('photo_profile',file)

            const config = {
                method : "post",
                url : `http://demo-api-vue.sanbercloud.com/api/member/${id}/upload-photo-profile`,
                data : formData
            }

            axios(config)
                .then( (response) => {
                    this.clearForm()
                    this.getMembers()
                    alert(response.data.message)
                    console.log(response)
                })
                .catch( (error) => {
                    console.log(error)
                })

            
        },
        
        //SET form = ''
        clearForm : function() {

            this.name = ''
            this.address = ''
            this.no_hp = ''

            this.buttonStatus = 'submit'
            this.idEdit = null
            this.idUpload = null
        }
    },
      
      created(){
        this.getMembers()
     }
      
  })
  </script>
</body>
</html>
