body{
    font-family: sans-serif;
}

.header{
    background-color: teal;
    color: snow;
    text-align: center;
    padding: 3%;
    font-size: 30px;
}

.content{
    display: flex;
    justify-content: space-around;
    padding: 2%;
}

.gambar img{
    border-radius: 10px;
    border: 10px solid teal;
    margin-top: 10px;
}

.desc{
    margin-top: 50px;
    border-radius: 10px;
    text-align: center;
    color: teal;
}

.footer{
    background-color: teal;
    padding: 2%;
    color: snow;
    font-size: 15px;
    text-align: center;
}