<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>
  <div id="app">
    <input type="text" v-model:value="newUser" />
    <button @click="addUsers">add</button>
    <ul>
        <li v-for="item in users">
            {{item.name}} {{item.id}}
            <button @click="editUsers(item.id-1)">edit</button>
            ||
            <button @click="delUsers(item.id-1)">delete</button>
            <p></p>
        </li>
    </ul>
  </div>

  <script>
    var app = new Vue({
      el: "#app",
      data: {
        flag:0,
        newUser: "",
        users: [
            {name: "Muhammad Iqbal Mubarok", id:1},
            {name: "Ruby Purwanti", id:2},
            {name: "Faqih Muhammad",id:3},
        ]
      },
      methods: {
          addUsers: function(){
              this.users.push({'name': this.newUser,id: this.users.length + 1});
              this.newUser = "";
          },
          delUsers(id){
              alert('Anda Yakin?');
              this.users.splice(id,1); //button delete cuma bisa sekali pake / delete dari bawah ke atas, masalahnya pas di delete id ga keupdate
              console.log(`deleting ${id}`)
          },
          editUsers(id){
              this.users[id] = this.newUser;
          }
      }
    })
  </script>
</body>

</html>