<template>
<v-container>
  <v-subheader>All Author</v-subheader>
  <div class="about">
    <div class="member">
      <div class="gambar">
        <img src="../assets/Kenzie.jpg" width="300" height="300" alt="">
      </div>
      <div class="desc">
        <h2>Kenzie Andrylie</h2>
      </div>
    </div>
    <div class="member">
      <div class="gambar">
        <img src="../assets/1.jpg" width="300" height="300" alt="">
      </div>
      <div class="desc">
        <h2>Fauzi Oktriyandaru</h2>
      </div>
    </div>
    <div class="member">
      <div class="gambar">
        <img src="../assets/ang.jpg" width="300" height="300" alt="">
      </div>
      <div class="desc">
        <h2>Anugrah Savari Hadisastra</h2>
      </div>
    </div>
  </div>
</v-container>
</template>

<style>
  .about{
    display:flex;
    justify-content: space-around;
  }
  .member{
    margin-top: 50px;
  }
  .desc{
    text-align: center;
    color: dodgerblue;
  }
</style>


