<template>
<div v-if="panjangblog">
    
    <v-card >
        <v-img :src="blog.photo ? apiDomain + blog.photo : 'https://picsum.photos/200/300'" class="white--text" height="200px">
            <v-card-title class="fill-height align-end" v-text="blog.title">                
            </v-card-title>
        </v-img>
        <v-card-text>
            <v-simple-table dense> 
                <tbody>
                    <tr>
                        <td> <v-icon>mdi-format-title</v-icon> Judul </td>
                        <td><v-text-field type="text"  
                            label="title" append-icon="mdi-email"  v-model="blog.title" required></v-text-field></td>
                    </tr>
                    <tr>
                        <td><v-icon>mdi-note</v-icon> Deskripsi </td>
                        <td><v-text-field type="text"  
                            label="description" append-icon="mdi-email"  v-model="blog.description" required></v-text-field> </td>
                    </tr>
                    <tr>
                        <td>
                            <v-btn color="blue lighten-1" @click="update" style="margin : 20px">
                                    UPDATE
                                    <v-icon right dark>mdi-lock</v-icon>                    
                            </v-btn>
                        </td>
                        <td>
                            
                            <input type="file" name="SEARCH PHOTO" ref="photo" ><br>
                            <v-btn color="blue lighten-1" @click="uploadfoto" style="margin : 20px">
                                    UPLOAD FOTO
                                    <v-icon right dark>mdi-lock</v-icon>                    
                            </v-btn>
                        </td>
                    </tr>
                    
                </tbody>
                
                

            </v-simple-table>
            
            
        </v-card-text>
        
        
    </v-card>

</div>
    
</template>

<script>
import { mapGetters,mapActions } from 'vuex';

export default {
    data : function(){ 
                        return{
                        apiDomain : 'https://demo-api-vue.sanbercloud.com',
                        blog : {},    
                        }    
                    },
  computed : {
    panjangblog : function(){
            if(JSON.stringify(this.blog) === '{}') { 
                return false
                }
            else { return true}
            },
    ...mapGetters({
            token : 'auth/token',
        })
  },
  methods : {    
    go : function(){

        let {id} = this.$route.params
        //console.log(`ini id nya : ${id}`)

        const config = {
                        method : 'get',
                        url : `${this.apiDomain}/api/v2/blog/${id}`,
                        
                        }

        this.axios(config)
            .then(response => {            
                this.blog = response.data.blog
            // console.log(response.data.blog)
            })
            .catch (error=>{console.log(error)})

    },
    ...mapActions({
            setAlert : "alert/set",
        }),
    hapus : function(){
        console.log(this.blog.id)
        if(confirm("Mau Menghapus Member Ini?")){
            const config = {
                        method : 'post',
                        url : `${this.apiDomain}/api/v2/blog/${this.blog.id}`,
                        params : {_method : "DELETE"},                                    
                        headers : {
                            "Authorization" : "Bearer " + this.token,
                            }
                        }

            this.axios(config)
                .then(response => {
                    console.log(response)                             
                    this.setAlert({
                            status : true,
                            color : "success",
                            text : "Anda Berhasil Menghapus Blog"
                        })
                    window.history.back()

                })
                .catch (error=>{
                    console.log(error)
                    this.setAlert({
                            status : true,
                            color : "error",
                            text : "Anda Gagal Menghapus Blog"
                        })
                    })
        }
        
    },
    update : function(){
            console.log(this.blog.id)
            let formData = new FormData()
                formData.append('title',this.title)
                formData.append('description',this.description)        
            const config = {
                        method : 'post',
                        url : `${this.apiDomain}/api/v2/blog/${this.blog.id}`,
                        params : {_method : "PUT"},
                        data : formData,                                    
                        headers : {
                            "Authorization" : "Bearer " + this.token,
                            },                        
                        }

            this.axios(config)
                .then(response => {
                    console.log(response)                             
                    this.setAlert({
                            status : true,
                            color : "success",
                            text : "Anda Berhasil Mengupdate Blog"
                        })
                    

                })
                .catch (error=>{
                    console.log(error)
                    this.setAlert({
                            status : true,
                            color : "error",
                            text : "Anda Gagal Mengupdate Blog"
                        })
                    })
        
        
    },
    uploadfoto : function(){
            console.log(this.blog.id)
            let file=this.$refs.photo.files[0]
            let formData = new FormData()
                formData.append('photo',file)
                        
            const config = {
                        method : 'post',
                        url : `${this.apiDomain}/api/v2/blog/${this.blog.id}/upload-photo`,                        
                        data : formData,                                    
                        headers : {
                            "Authorization" : "Bearer " + this.token,
                            },                        
                        }

            this.axios(config)
                .then(response => {
                    console.log(response)                             
                    this.setAlert({
                            status : true,
                            color : "success",
                            text : "Anda Berhasil Mengupload Foto Blog"
                        })
                    location.reload()
                    

                })
                .catch (error=>{
                    console.log(error)
                    this.setAlert({
                            status : true,
                            color : "error",
                            text : "Anda Gagal Mengupload Foto Blog"
                        })
                    })
        
        
    },


    
    //const api = 'https://demo-api-vue.sanbercloud.com/api/v2/blog/random/3'
    
    //this.axios.get(api).then((response)=>{console.log(response.data)})
  },
  created(){this.go()}
}
</script>
