<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
      label{
          display: block;
          margin-top: 5px;
      }
      form{
          border: 1px solid plum;
          padding: 5px;
          width: 255px;
          background: powderblue;
      }
  </style>
</head>
<body>
  <div id="app">
      <form @submit.prevent="$store.commit('submitForm')">
          <p v-if="$store.state.errors.length">
            <b>Please correct the following errors</b>
            <ul>
                <li v-for="item in $store.state.errors">{{item}}</li>
            </ul>
          </p>

          <label>Name : {{$store.state.name}} </label>
          <input type="text" name="name" ref="name" v-model="$store.state.name" v-bind:disabled="$store.state.buttonStatus=='upload'">
          <label>Address : {{$store.state.address}} </label>
          <textarea ref="address" v-model="$store.state.address" v-bind:disabled="$store.state.buttonStatus=='upload'"></textarea>
          <label>No Hp : {{$store.state.no_hp}} </label>
          <input type="text" name="no_hp" ref="no_hp" v-model="$store.state.no_hp" v-bind:disabled="$store.state.buttonStatus=='upload'">

          <br>
          <!-- button -->
          <div v-if="$store.state.buttonStatus=='submit'">
                <input type="submit" value="SUBMIT">
          </div>
          <div v-if="$store.state.buttonStatus=='edit'">
                <input type="button" value="UPDATE" @click="updateMember($store.state.idEdit)"> 
                <input type="button" value="CANCEL" @click="clearForm()">   
          </div>
          <div v-if="$store.state.buttonStatus=='upload'">
              
            <input type="file" name="photo" ref="photo" style="margin: 10px;">
            
            <input type="button" value="UPLOAD" @click="submitPhoto($store.state.idUpload)">
            <input type="button" value="CANCEL" @click="clearForm()">
        </div>

      </form>

      <br><br>

      <member-component></member-component>

  </div>

  <template id="idmc">
      <div>
        <table border=1 width="500px">
            <tr v-for="member in $store.state.members">
                <td>
                    <img width=100 :src="member.photo_profile ? $store.state.photoDomain + member.photo_profile : 'https://dummyimage.com/16:9x1080' " alt="">
                </td>
                <td>
                    <b>Name :</b> {{member.name}} <br>
                    <b>Address : </b> {{member.address}} <br>
                    <b>No Hp: </b> {{member.no_hp}} <br>
                </td>
                <td>
                    <button @click="$store.commit('editMember',member)">Edit</button>
                    <button @click="$store.commit('removeMember',member.id)">Hapus</button>
                    <button @click="$store.commit('uploadPhoto',member)">Upload Foto</button>
                </td>
            </tr>
          </table>
      </div>
  </template>
  
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/vuex"></script>

  <script>
    
    const store = new Vuex.Store({
        state: {
            name : '',
            address : '',
            no_hp : '',
            errors : [],
            members : [],
            buttonStatus : 'submit',
            idUpload: null,
            idEdit: null,
            photoDomain : 'http://demo-api-vue.sanbercloud.com'
            },

        mutations: {
            submitForm(state){
            state.errors = []

            if(state.name.length==0){
                state.errors.push('Nama tidak boleh kosong!')
                // this.$refs.title.focus()
            }
            if(state.address.length>50){
                state.errors.push('alamat tidak boleh lebih dari 50 karakter')
                // this.$refs.description.focus()
            }
            if(state.errors.length === 0){
                //POST MEMBER (3)
                let formData = new FormData()
                formData.append('name',state.name)
                formData.append('address',state.address)
                formData.append('no_hp',state.no_hp)

                const config = {
                    method : "post",
                    url : "http://demo-api-vue.sanbercloud.com/api/member",
                    data : formData
                }

                axios(config)
                    .then( (response) => {
                        this.commit("getMembers")
                        this.commit("clearForm")
                        alert(response.data.message)
                    })
                    .catch( (error) => {
                        console.log(error)
                    })
            }
        },

        //GET MEMBER (2)
        getMembers(state) {

            const config = {
                method : "get",
                url : "http://demo-api-vue.sanbercloud.com/api/member"
            }

            axios(config)
            .then( (response) => {
                console.log(response.data)
                state.members = response.data.members
            })
            .catch( (error) => {
                console.log(error)
            })
        },

        //DELETE MEMBER (4)
        removeMember(state,id){
                const config = {
                    method : "post",
                    url : `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                    params : {_method : "DELETE"}
                }
                axios(config)
                .then( (response) => {
                    this.commit("getMembers")
                    alert(response.data.message)
                })
                .catch( (error) => {
                    console.log(error)
                })
            console.log(id)
        },
        //EDIT MEMBER(5)
        editMember : function(state, member){
            state.buttonStatus = 'edit'
            state.name = member.name
            state.address = member.address
            state.no_hp = member.no_hp
            state.idEdit = member.id

            console.log(state.idEdit)
        },

        //UPLOAD PHOTO (7)
        uploadPhoto : function(state,member){
            state.buttonStatus = 'upload'
            state.name = member.name
            state.address = member.address
            state.no_hp = member.no_hp
            state.idUpload = member.id
        },

        //UPDATE MEMBER(6)
        updateMember : function (state,id){
            state.errors = []

            if(state.name.length==0){
                state.errors.push('Nama tidak boleh kosong!')
                // this.$refs.title.focus()
            }
            if(state.address.length>50){
                state.errors.push('alamat tidak boleh lebih dari 50 karakter')
                // this.$refs.description.focus()
            }
            if(state.errors.length === 0){
                //UPDATE MEMBER (6)
                let formData = new FormData()
                formData.append('name',state.name)
                formData.append('address',state.address)
                formData.append('no_hp',state.no_hp)

                const config = {
                    method : "post",
                    url : `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                    params : {_method : "PUT"},
                    data : formData
                }

                axios(config)
                    .then( (response) => {
                        this.commit("clearForm")
                        this.commit("getMembers")

                        alert(response.data.message)
                    })
                    .catch( (error) => {
                        console.log(error)
                    })
            }

        },


        //SUBMIT PHOTO (8)
        submitPhoto : function (state,id){
            let file = this.$refs.photo.files[0]

            console.log(file)

            let formData = new FormData()
            formData.append = ('photo_profile',file)

            const config = {
                method : "post",
                url : `http://demo-api-vue.sanbercloud.com/api/member/${id}/upload-photo-profile`,
                data : formData
            }

            axios(config)
                .then( (response) => {
                    this.commit("clearForm")
                    this.commit("getMembers")
                    alert(response.data.message)
                    console.log(response)
                })
                .catch( (error) => {
                    console.log(error)
                })

            
        },
        
        //SET form = ''
        clearForm : function(state) {

            state.name = ''
            state.address = ''
            state.no_hp = ''

            state.buttonStatus = 'submit'
            state.idEdit = null
            state.idUpload = null
        }
        }
    }) 

   var memberComponent = {
       template : '#idmc',
       data(){
        return{
        }
       },
       methods:{

       },
       props : ['member']
   }   

   var vm = new Vue({
      el: '#app',
      components : {
        'member-component' : memberComponent
      },
      data: {
        
      },
      store,
      methods: {
        submitForm : function(event){
            this.$store.commit('submitForm')
        },

        //GET MEMBER (2)
        getMembers : function() {
            this.$store.commit('getMembers')
        },

        // gaguna soalnya langsung store commit di template
        // //DELETE MEMBER (4)
        // removeMember : function(id){
        //     this.$store.commit('removeMember')
        // },

        // //EDIT MEMBER(5)
        //  editMember : function(member){
        //     this.$store.commit('editMember')
        // },

        // //UPLOAD PHOTO (7)
        // uploadPhoto : function(member){
        //    this.$store.commit('uploadPhoto')
        // },

        //UPDATE MEMBER(6)
        updateMember : function (id){
            this.$store.commit('updateMember',id)
        },


        //SUBMIT PHOTO (8)
        submitPhoto : function (id){
            this.$store.commit('submitPhoto',id)
            
        },
        
        //SET form = ''
        clearForm : function() {
            this.$store.commit('clearForm')
            }
        },

      created(){
        this.$store.commit('getMembers')
        }
      
  })
  </script>
</body>
</html>
